<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/style.css">
        <title>Memory Game</title>
    </head>
    <body>
        <div class="titles">
            <h1>Memory Game</h1>
            <p>Find matching pairs</p>
        </div>
        <div class="controls">
            <button class="game-btn"><a href="/">Back</a></button>
            <button class="game-btn" id="new-btn">New Game</button>
        </div>

        <div id="game-board"></div>

        <div id="message-board"></div>
        <div class="results">
            <p id="time">00:00</p>
            <p>Attemps: <span id="attempt-count">0</span></p>
        </div>


        <script src="/js/script.js"></script>
    </body>
</html>