<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/style.css">
        <title>Memory Game</title>
    </head>
    <body>
        <h1>Memory Game</h1>
        <p>Find matching pairs</p>
        <a href="/">Back</a>

        <button id="new-btn" onclick="resetClock()">New Game</button>

        <div id="game-board"></div>

        <div id="message-board"></div>
    
        <script src="/js/script.js"></script>
    </body>
</html>