<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Memory Game</title>
    </head>
    <body>
        <header>
            <a href="/scoreboard">Scoreboard</a>
            <% if (username) { %>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/login">Log In</a>
            <% } %>
        </header>
        <div class="container">
            <div class="title-container">
                 <h1>Memory Game</h1>
                 <p>Put your memory to the test - flip, match and win!</p>
            </div>
            <div class="btn-container">
                <button id="play-btn"><a href="/game">Play</a></button>
            </div>
            <% if (!username) { %>
                <div class="text-container">
                    <p><a href="/login">Log in</a> to keep score</p>
                   <p>or <a href="/signup">sign up</a> if you don't have an account.</p>
               </div> 
            <% } %>
            <% if (username) { %>
                <p>Are you ready to play, <%= username %> ?</p>
            <% } %>
        </div>  
    </body>
</html>