<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Log in</title>
    </head>
    <body>
        <header>
            <a href="/scoreboard">Scoreboard</a>
            <a href="/login">Log In</a>
        </header>
        <div class="login-container">
            <h1>Log in</h1>
            <form class="login-form" action="/login" method="post">
                <label>Username</label>
                <input type="text" name="username" required>
                <label>Password</label>
                <input type="password" name="password" required>
                <button class="submit-btn" type="submit">Log In</button>
            </form>
            <%= err !== undefined ? err : "" %>
            <p>Don't have an account? <a class="a-login" href="/signup">Sign Up</a></p>
            <a class="a-login" href="/">Back</a>
        </div>
        
    </body>
</html>