<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Scoreboard</title>
    </head>
    <body>
        <h1>Scoreboard</h1>
        <a href="/">Back</a>
        <a href="/login">Log In</a>
    </body>
</html>